<div class="content">

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="tableStyle" scope="col">Id</th>
        <th class="tableStyle" scope="col">Nombre</th>
        <th class="tableStyle" scope="col">Cuenta Matriculada</th>
        <th class="tableStyle" scope="col">Historial Débitos</th>
      </tr>
    </thead>
    <tbody>
      @for(client of clients; track $index){
      <tr>
        <td class="colWidth tableStyle">{{client.id}}</td>
        <td class="colWidth tableStyle">{{client.name}}</td>
        <td class="colWidth tableStyle">{{client.accountNumber}}</td>
        <td class="colWidth tableStyle">
          <button>
            Ver Historial de debitos
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>