/* You can add global styles to this file, and also import other style files */


/* Estilos de fuentes */

@font-face {
  font-family: 'Myriad-Pro';
  src: url('./assets/fonts/MYRIADPRO-BOLD.OTF') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad-Pro';
  src: url('./assets/fonts/MYRIADPRO-SEMIBOLD.OTF') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad-Pro';
  src: url('./assets/fonts/MYRIADPRO-REGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad-Pro';
  src: url('./assets/fonts/MYRIADPRO-BOLDIT.OTF') format('opentype');
  font-weight: bold;
  font-style: italic;
}

body{
  font-family: 'Myriad-Pro', sans-serif;
}
/* Paleta de colores */

.red_bgd{
  background-color: #D62429;
}

.green_bgd{
  background-color: #008E4F;
}

.gray_bgd{
  background-color: #58585A;
}
/* Estilos generales  */
.txt_title{
  color: white;
  text-align: center;
  width: 100%;
  padding: 8px;
}

.colWidth{
  min-width: 100px;
}

.tableStyle{
  text-align: center;
}

.content{
  padding:24px;
  text-align: center;
}

/* Botones */

.addBtn{
  text-align: center;
  padding: 8px;
  border-radius: 20px;
  background-color: #008E4F;
  color: white;
  font-weight: 300;
  border: none;
  width: 200px;
  min-width: 150px;
  margin: 2px;
}

.addBtn:hover{
  background-color: #005E2D;
}


